* {
    margin: 0;
    padding: 0;
  }
body {
    background-color: #e2e7d4;
    font-family: "sans-serif";

}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;


}

.header {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white; 
    margin-bottom: 16px;
    color: #65a30d;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: larger;
    box-shadow: 5px 5px #c2c9ae;
}

.top-header, .bottom-header {
    display: flex;
    justify-content: space-between
}

.left-top-header {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.left-top-header > img {
    height: 30px;
}

.left-top-header > input {
    height: 30px;
    border-radius: 20px;
    width: 650px;

}

.right-top-header {
    display: flex;
    gap: 8px;
    align-items: center;
}

.right-top-header > img {
    height: 40px;
}

.left-bottom-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.left-bottom-header > img {
    height: 70px;
}

.right-bottom-header {
    display: flex;
    gap: 16px;
    align-items: center;
}

.right-bottom-header > button {
    width: 72px;
    height: 32px;
    border-radius: 24px;
    background-color: #65a30d;
    font-weight: 700;
    color: whitesmoke;
    border: none;
    box-shadow: none;
}

.side-bar {
    grid-column: 1/2;
    grid-row: 1/7;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #65a30d;
    color: #ffffff;
    padding-top: 16px;
    font-size: larger;
    padding-left: 16px;
    padding-right: 16px;
}

.item2, .item3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item2>div, .item3 > div , .item1 {
    display: flex;
    align-items: center;
    gap: 16px;

}
.item2 > div > img, .item3 > div > img {
    height: 40px;
}

.item1 > img {
    height: 60px;
}
.main-content {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 4fr 1fr ;
    margin-right: 32px;
    gap: 16px;
    color: #65a30d;
    font-weight: 500;
    font-size: larger;
    margin: 16px;
    margin-bottom: 32px;
}

.announcement-bars, .trending-bars {
    grid-column: 2/3;
}

.project-bars {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
}

.card {
    height: 200px;
    background: white;
    justify-self: stretch;
    border-radius: 8px;
    padding: 32px;
    font-size: larger;
    box-shadow: 5px 5px #c2c9ae;
    border-left: 10px solid #65a30d;
}

.card1 {

}
.far-right-content {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    gap: 16px;
    justify-content: space-between;
}


.content2 {
    display: flex;
    flex-direction: column;
}

.announcement-bars{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 5px 5px #c2c9ae;
    border-color: aquamarine;
}


.trending-bars{
    display: grid;
    gap: 16px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 5px 5px #c2c9ae;
    border-color: aquamarine;
    height: 400px;  
}

.trending-bar {
    display: flex;
    gap: 16px;
    border-color: red;
}

.content-head1, .content-head2, .content-head3, .item1 > span {
    font-size: larger;
    font-weight: 600;
}
